h5py==3.11.0
hyperopt==0.2.7
ipykernel==6.29.4
rouge==1.0.1
ipython==8.18.1
fastapi==0.103.0
uvicorn==0.20.0
keras==3.2.1
tf-keras==2.16.0
datasets==2.19.0
torch==2.3.0
lesscpy==0.15.1
nbclassic==1.0.0
nbclient==0.10.0
nbconvert==7.16.3
networkx==3.2.1
notebook==6.5.6
numpy==1.26.1
openai==1.19.0
pandas==2.1.2
pandocfilters==1.5.1
pillow==10.2.0
py4j==0.10.9.7
pydantic==2.7.0
requests==2.31.0
scipy==1.13.0
tensorboard==2.16.2
tensorboard-data-server==0.7.2
tensorflow==2.16.1
tensorflow-io-gcs-filesystem==0.36.0
unicorn==1.0.3
newspaper3k==0.2.8
transformers==4.40.1
